.mainLayout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsLayout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%
}

a{
    text-decoration: underline;
}

p{
    font-size: 15px;
}