.card {
    position: relative;
    place-items: center;
    width: 280px;
    min-height: 300px;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 10px 4px 20px #00000052;
    background-color: #18181B;
}

.primary {

}

.secondary{
    background-color: white;
    color: black;
}

.image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 16/12;
    object-fit: cover;
}

.title {
    text-align: center;
    font-weight: bold;
}

.socialMedias {
    a{
        color: black;
    }
}

