.footer {
    text-align: center;
    padding: .7vw;
    width: 100%;
    bottom: 0;
    position: relative;
    background-color: #000;

    h5 {
        color: #fff;
        font-size: .8rem;
        text-align: center;
    }
}