
.header {
    display: flex;
    border-bottom:0.5px solid #fff;
    width: 100%;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1%;
        gap: 30px;
        ul { 
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1vw;
            width: 20vw;
            li {
                list-style: none;
            }
            a:hover {
                color: #20A4F3;
                text-decoration: underline;
            }
        }
    }

    div {
        min-width: 11%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    padding: 2%;
    min-height: 100%;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
    max-width: 80%;
    div > a {
            float: right;
    }
    
}

a {
    font-weight: 600;
    font-size: .8rem;
    color: #fff;
    text-decoration: none;
    text-wrap: nowrap;
    transition: all 400ms ease-in-out;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.85rem;
    text-align: justify;
    margin-left: 2vw;
}

.footer{
    text-align: center;
    padding: .7vw;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #000;
    h5 {
        color: #fff;
        font-size: .8rem;
        text-align: center;
    }
}

.cardContent {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0.8vw;
}

.logo {
    width: 80%;
}