@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #252525;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.header {
    display: flex;
    border-bottom: 0.5px solid #fff;
    width: 100%;
    height: 4rem;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1%;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1vw;
            transition: 0.5s;
            li {
                list-style: none;

                a {
                    font-weight: 600;
                    font-size: .8rem;
                    color: #fff;
                    text-decoration: none;
                    text-wrap: nowrap;
                    transition: all 400ms ease-in-out;
                }
            }

            a:hover {
                color: #20A4F3;
                text-decoration: underline;
            }
        }
    }

    div {
        min-width: 11%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header .nav .menuHamburguer {
    div {
        display: flex;
        flex-direction: row-reverse;
        user-select: none;
    }
    
    .menuAberto {
        background-color: #252525;
        flex-direction: column;
        position: absolute;
    }

    .menuFechado {
        display: none;
    }
}


.icone {
    font-size: 22px;
}

main {
    display: flex;
    justify-content: center;
    padding: 1%;
    min-height: 100%;
}

.footer {
    text-align: center;
    padding: .7vw;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #000;

    h5 {
        color: #fff;
        font-size: .8rem;
    }
}

.logo {
    height: 40px;
    width: 40px;
    img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 730px) {
    .header .nav .menuAberto {
        width: 50vw;
        right: 0;
        top: 4rem;
        gap: 0!important;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #cac9c9;
            border-left: 1px solid #cac9c9;
            width: 100%;

            a {
                margin-top: 5%;
                margin-bottom: 5%;
                transition: all 400ms ease-in-out;
            }
        }
    }
}
