
.header {
    display: flex;
    border-bottom:0.5px solid #fff;
    width: 100%;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1%;
        gap: 30px;
        ul { 
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1vw;
            width: 20vw;
            li {
                list-style: none;
                a {
                    font-weight: 600;
                    font-size: .8rem;
                    color: #fff;
                    text-decoration: none;
                    text-wrap: nowrap;
                    transition: all 400ms ease-in-out;
                }
            }
            a:hover {
                color: #20A4F3;
                text-decoration: underline;
            }
        }
    }

    div {
        min-width: 11%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding: 2%;
    min-height: 100%;
}

.footer{
    text-align: center;
    padding: .7vw;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #000;
    p {
        color: #fff;
        font-size: .8rem;
    }
}

.logo {
    width: 80%;
}