main{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    justify-content: center;
    align-items: center;
    height: 80vh;

    h1{
        color: #20a4f3;
        font-size: 40px;
        font-weight: 500;
    }
}

.mainSection{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border: 1px solid #767676;
    border-radius: 2%;
    height: 45vh;
    width: 25vw;
    row-gap: 4vh;
    background-color: #18181B;
}

form{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    row-gap: 3vh;

    > div{
        display: flex;
        flex-direction:column;
        row-gap: 1vh;
    }
    input{
        padding: 3%;
        width: 22vw;
        border-radius: 2vh;
        border: 2px solid #20a4f3;
        background-color: #252525;
    }
    label{
        color: #20a4f3 ;
        font-weight: 400;
    }

    button{
        padding: 2%;
        width: 5vw;
        background-color: #20a4f3;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    button:hover{
        cursor: pointer;
    }
}